In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import matplotlib
import requests
import seaborn
import folium
import json
import ast
import os

from folium.plugins import MarkerCluster
from folium.plugins import HeatMap
from pandas import DataFrame
from folium import features

## 读取数据

### 1. CURBSIDE PICKUP

In [2]:
# 要读取的路径
Folder_Path   = u"E:\Report\战略\半室外需求验证\scrapy_CP"
# 拼接后要保存的文件路径
SaveFile_Path = u"E:\Report\战略\半室外需求验证\scrapy_CP"

In [3]:
# 读取文件中的数据内容。
file_list = os.listdir(u"E:\Report\战略\半室外需求验证\scrapy_CP")
file_list = file_list[:len(file_list)-1]
# 编码默认UTF-8，若乱码自行更改
CP_df1 = pd.read_csv(Folder_Path + '\\' + file_list[0])

In [4]:
# 循环遍历列表中各个CSV文件名，并追加到合并后的文件
for i in range(1, len(file_list)):
    df_concacted = pd.read_csv(Folder_Path + '\\' + file_list[i])
    CP_df1 = CP_df1.append(df_concacted, ignore_index=True)

C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1855271205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df1 = CP_df1.append(df_concacted, ignore_index=True)

In [5]:
# 要读取的路径
Folder_Path   = u"E:\Report\战略\半室外需求验证\scrapy_CP\V1"
# 拼接后要保存的文件路径
SaveFile_Path = u"E:\Report\战略\半室外需求验证\scrapy_CP\V1"

In [6]:
# 读取文件中的数据内容。
file_list = os.listdir(u"E:\Report\战略\半室外需求验证\scrapy_CP\V1")
# 编码默认UTF-8，若乱码自行更改
CP_df2= pd.read_csv(Folder_Path + '\\' + file_list[0])

In [7]:
# 循环遍历列表中各个CSV文件名，并追加到合并后的文件
for i in range(1, len(file_list)):
    df_concacted = pd.read_csv(Folder_Path + '\\' + file_list[i])
    CP_df2 = CP_df2.append(df_concacted, ignore_index=True)

C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/3990438760.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CP_df2 = CP_df2.append(df_concacted, ignore_index=True)

In [8]:
CP_df = pd.concat([CP_df1,CP_df2]).drop_duplicates(subset=['coordinates','id'], keep = "first")
CP_df = CP_df.reset_index()

#添加室外配送场景标签
CP_df['curbside_pickup'] = 'curbside_pickup'
CP_df = CP_df.drop(columns=['transactions', 'alias','categories','distance','index','is_closed','phone','Unnamed: 0','image_url'])

CP_df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,curbside_pickup
0,HeecV0ib-LzDpRqGFDp_AA,Hunny's Cafe,https://www.yelp.com/biz/hunnys-cafe-corona?ad...,177,3.5,"{'latitude': 33.79879, 'longitude': -117.50153}",$$,"{'address1': '9022 Pulsar Ct', 'address2': '',...",(951) 277-5811,curbside_pickup
1,4yN7zhI2zyblcflkM3a55A,WaBa Grill,https://www.yelp.com/biz/waba-grill-ontario-5?...,75,2.0,"{'latitude': 34.027, 'longitude': -117.5938}",$,"{'address1': '2598 S Archibald Ave', 'address2...",(909) 947-7057,curbside_pickup
2,Vj8-3j0IKSJNkS5zMcC4Qg,McDonald's,https://www.yelp.com/biz/mcdonalds-chino-2?adj...,269,1.5,"{'latitude': 34.0010559748959, 'longitude': -1...",$,"{'address1': '3770 Grand Ave', 'address2': '',...",(909) 590-0557,curbside_pickup
3,E0NKr-TOJskm0Ml1_MI4Xw,Zait Bistro,https://www.yelp.com/biz/zait-bistro-rancho-cu...,817,4.0,"{'latitude': 34.122156, 'longitude': -117.573391}",$$,"{'address1': '7251 Haven Ave', 'address2': 'St...",(909) 989-0678,curbside_pickup
4,wUamEyNCZ3lF-QLF7uSkog,Morton's The Steakhouse,https://www.yelp.com/biz/mortons-the-steakhous...,1240,4.0,"{'latitude': 33.8000325216287, 'longitude': -1...",$$$,"{'address1': '1895 Harbor Blvd', 'address2': '...",(714) 621-0101,curbside_pickup
...,...,...,...,...,...,...,...,...,...,...
43218,uXj5JRqBHnYNRvLw6VqmEw,Tamale Boy Tacos & Tamales,https://www.yelp.com/biz/tamale-boy-tacos-and-...,45,4.5,"{'latitude': 29.37338, 'longitude': -98.49769}",NaN,"{'address1': '5300 S Flores St', 'address2': '...",(210) 663-2033,curbside_pickup
43219,HpCsADSPPSoCghfcZeT55w,Iron Hill Brewery & Restaurant,https://www.yelp.com/biz/iron-hill-brewery-and...,290,3.5,"{'latitude': 40.208869, 'longitude': -75.223355}",$$,"{'address1': '1460 Bethlehem Pike', 'address2'...",(267) 708-2000,curbside_pickup
43220,Gu-8WeGWVs5qMVGjVgTA1A,Applebee's Grill + Bar,https://www.yelp.com/biz/applebees-grill-bar-v...,44,3.0,"{'latitude': 39.8493887, 'longitude': -74.9780...",$$,"{'address1': '880 Haddonfield-Berlin Rd', 'add...",(856) 627-6667,curbside_pickup
43221,CW8J8eqHRErzNPROYDvSyQ,Bonefish Grill,https://www.yelp.com/biz/bonefish-grill-north-...,116,3.5,"{'latitude': 40.2368631, 'longitude': -75.2406...",$$,"{'address1': '27 Airport Sq', 'address2': '', ...",(215) 361-2932,curbside_pickup
43222,is9vr6YX4NPP5cCp-K92Qw,Nancy's Restaurant,https://www.yelp.com/biz/nancys-restaurant-flo...,103,4.5,"{'latitude': 40.7276604, 'longitude': -73.7090...",$$,"{'address1': '25541 Jericho Tpke', 'address2':...",(718) 343-4616,curbside_pickup

In [9]:
def printinfo():
    temp = pd.DataFrame(index=CP_df.columns)
    temp['data_type'] = CP_df.dtypes
    temp['null_count'] = CP_df.isnull().sum()
    temp['unique_count'] = CP_df.nunique()
    return temp

printinfo()

                data_type  null_count  unique_count
id                 object           0         43094
name               object           0         19164
url                object           0         43212
review_count        int64           0          2158
rating            float64           0             9
coordinates        object           0         43168
price              object        3458             4
location           object           0         42982
display_phone      object         242         42696
curbside_pickup    object           0             1

### 2. OUTDOOR DINING

In [10]:
# 要读取的路径
Folder_Path   = u"E:\Report\战略\半室外需求验证\scrapy_OD"
# 拼接后要保存的文件路径
SaveFile_Path = u"E:\Report\战略\半室外需求验证\scrapy_OD"

In [11]:
# 读取文件中的数据内容。
file_list = os.listdir(u"E:\Report\战略\半室外需求验证\scrapy_OD")
# 编码默认UTF-8，若乱码自行更改
OD_df= pd.read_csv(Folder_Path + '\\' + file_list[0])

In [12]:
# 循环遍历列表中各个CSV文件名，并追加到合并后的文件
for i in range(1, len(file_list)):
    df_concacted = pd.read_csv(Folder_Path + '\\' + file_list[i])
    OD_df = OD_df.append(df_concacted, ignore_index=True)

C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/1595810329.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  OD_df = OD_df.append(df_concacted, ignore_index=True)

In [13]:
OD_df = OD_df.drop_duplicates(subset=['coordinates','id'], keep = "first")
OD_df = OD_df.reset_index()

#添加室外配送场景标签
OD_df['outdoor_dining'] = 'outdoor_dining'
OD_df = OD_df.drop(columns=['transactions', 'alias','categories','distance','index','is_closed','phone','Unnamed: 0','image_url'])
OD_df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,outdoor_dining
0,4gKq_ydF-naD4wz2Mcgorg,Charley's On Grand,https://www.yelp.com/biz/charleys-on-grand-por...,10,3.5,"{'latitude': 45.53257, 'longitude': -122.66114}",$$,"{'address1': '435 NE Wasco St', 'address2': ''...",NaN,outdoor_dining
1,lK-I8qZGu_ne56maS5im3Q,Fire on the Mountain,https://www.yelp.com/biz/fire-on-the-mountain-...,468,4.0,"{'latitude': 45.5541179682835, 'longitude': -1...",$$,"{'address1': '4225 N Interstate Ave', 'address...",(503) 280-9464,outdoor_dining
2,hYwVVJSCeaIfl39DsItSIw,Wanker's Corner,https://www.yelp.com/biz/wankers-corner-wilson...,140,3.0,"{'latitude': 45.30248, 'longitude': -122.76432}",$$,"{'address1': '8499 SW Main St', 'address2': ''...",(503) 682-9673,outdoor_dining
3,VqRcFCE-UBaFoCrfkCdgdQ,Urban Crêperie,https://www.yelp.com/biz/urban-cr%C3%AAperie-p...,50,4.5,"{'latitude': 45.520471, 'longitude': -122.684587}",$$,"{'address1': '1216 SW Morrison St', 'address2'...",(503) 954-1492,outdoor_dining
4,SU89RDasriEghDchbNoZsw,Jake's Grill,https://www.yelp.com/biz/jakes-grill-portland-...,783,3.5,"{'latitude': 45.5206041, 'longitude': -122.682...",$$,"{'address1': '611 SW 10th Ave', 'address2': ''...",(503) 220-1850,outdoor_dining
...,...,...,...,...,...,...,...,...,...,...
64954,bKXnm2k44mSdU0fP69lY-g,Szechuan Mountain House,https://www.yelp.com/biz/szechuan-mountain-hou...,407,4.0,"{'latitude': 40.7593930266428, 'longitude': -7...",$$,"{'address1': '39-16 Prince St', 'address2': 'S...",(718) 888-7893,outdoor_dining
64955,oMtJwDxuuxZPvGMgHOoAbQ,Reception Bar,https://www.yelp.com/biz/reception-bar-new-yor...,80,4.5,"{'latitude': 40.7163598, 'longitude': -73.9913...",NaN,"{'address1': '45 Orchard St', 'address2': None...",(646) 490-4053,outdoor_dining
64956,lOSerKI9Xh4tR5I4YUw9kw,Saint Julivert,https://www.yelp.com/biz/saint-julivert-brookl...,41,4.5,"{'latitude': 40.68787, 'longitude': -73.99565}",NaN,"{'address1': '264 Clinton St', 'address2': Non...",(347) 987-3710,outdoor_dining
64957,x_YWFkTcxEu1lo8Nlrog5A,Milk & Honey Cafe,https://www.yelp.com/biz/milk-and-honey-cafe-b...,1202,4.0,"{'latitude': 40.634356735221, 'longitude': -73...",$$,"{'address1': '1119 Newkirk Ave', 'address2': '...",(718) 513-0441,outdoor_dining
64958,1LIptXhtDh58vAA-QPFL4w,Cask,https://www.yelp.com/biz/cask-new-york-2?adjus...,1402,4.0,"{'latitude': 40.745414, 'longitude': -73.979004}",$$,"{'address1': '167 E 33rd St', 'address2': '', ...",(212) 300-4924,outdoor_dining

In [14]:
def printinfo():
    temp = pd.DataFrame(index=OD_df.columns)
    temp['data_type'] = OD_df.dtypes
    temp['null_count'] = OD_df.isnull().sum()
    temp['unique_count'] = OD_df.nunique()
    return temp

printinfo()

               data_type  null_count  unique_count
id                object           0         64955
name              object           0         53796
url               object           0         64959
review_count       int64           0          2592
rating           float64           0             9
coordinates       object           0         64638
price             object        9487             5
location          object           0         64407
display_phone     object        1138         63140
outdoor_dining    object           0             1

### 3. Drive Through

In [15]:
# 要读取的路径
Folder_Path   = u"E:\Report\战略\半室外需求验证\scrapy_DT"
# 拼接后要保存的文件路径
SaveFile_Path = u"E:\Report\战略\半室外需求验证\scrapy_DT"

In [16]:
# 读取文件中的数据内容。
file_list = os.listdir(u"E:\Report\战略\半室外需求验证\scrapy_DT")
# 编码默认UTF-8，若乱码自行更改
DT_df = pd.read_csv(Folder_Path + '\\' + file_list[0])

In [17]:
for i in range(1, len(file_list)):
    df_concacted = pd.read_csv(Folder_Path + '\\' + file_list[i])
    DT_df = DT_df.append(df_concacted, ignore_index=True)

C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)
C:\Users\PD\AppData\Local\Temp/ipykernel_12476/664743753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DT_df = DT_df.append(df_concacted, ignore_index=True)

In [18]:
DT_df = DT_df.drop_duplicates(subset=['coordinates','id'], keep = "first")
DT_df = DT_df.reset_index()

#添加室外配送场景标签
DT_df['drive_through'] = 'drive_through'
DT_df = DT_df.drop(columns=['transactions', 'alias','categories','distance','index','is_closed','phone','Unnamed: 0','image_url'])

DT_df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,drive_through
0,cQFgfJH3c9JigHkXZpe6Fw,Gyro Place,https://www.yelp.com/biz/gyro-place-portland?a...,154,4.0,"{'latitude': 45.5212324, 'longitude': -122.676...",$,"{'address1': '302 SW 5th Ave Portland Or', 'ad...",(503) 926-0780,drive_through
1,iaOWsQlhHTkHMTThpB1UNQ,Apizza Scholls,https://www.yelp.com/biz/apizza-scholls-portla...,1640,4.0,"{'latitude': 45.512127, 'longitude': -122.613131}",$$,"{'address1': '4741 SE Hawthorne Blvd', 'addres...",(503) 233-1286,drive_through
2,5Wg2MoDPo7cZNa7suuYA6g,Burger King,https://www.yelp.com/biz/burger-king-portland-...,37,1.5,"{'latitude': 45.518838153941, 'longitude': -12...",$,"{'address1': '10010 SE Stark St', 'address2': ...",(503) 252-5153,drive_through
3,YaUGYnfBjq1V-sI0BSokSQ,Ovation Coffee & Tea,https://www.yelp.com/biz/ovation-coffee-and-te...,783,5.0,"{'latitude': 45.5323049662902, 'longitude': -1...",$,"{'address1': '941 NW Overton St', 'address2': ...",(503) 719-7716,drive_through
4,rlj2exPbE-TtqVb7rtdAJA,Burger King,https://www.yelp.com/biz/burger-king-aloha?adj...,19,1.5,"{'latitude': 45.494915, 'longitude': -122.8733...",$,"{'address1': '18975 SW Tualatin Valley Hwy', '...",(503) 649-2398,drive_through
...,...,...,...,...,...,...,...,...,...,...
115189,xlv_CcDXH1hkG4Wq5mECkQ,Vamos Al Tequila,https://www.yelp.com/biz/vamos-al-tequila-broo...,311,3.5,"{'latitude': 40.73079, 'longitude': -73.95753}",$$,"{'address1': '162 Franklin St', 'address2': ''...",(718) 383-0808,drive_through
115190,22CRLIEfJWIO-8RjEiecAg,Akino,https://www.yelp.com/biz/akino-elmhurst?adjust...,987,4.5,"{'latitude': 40.741236, 'longitude': -73.881306}",$$$,"{'address1': '82-80 Broadway', 'address2': '',...",(718) 779-8280,drive_through
115191,HmbSkSwJz1JTyLbb5kGEGQ,Gombo's Heimishe Bakery,https://www.yelp.com/biz/gombos-heimishe-baker...,43,4.0,"{'latitude': 40.667839, 'longitude': -73.942551}",$,"{'address1': '328 Kingston Ave', 'address2': '...",(718) 771-7701,drive_through
115192,8h89zabx-9QE9fshXLXWDA,Adam's Bagels & Deli,https://www.yelp.com/biz/adams-bagels-and-deli...,88,3.5,"{'latitude': 40.722862, 'longitude': -73.868399}",$,"{'address1': '6356 Woodhaven Blvd', 'address2'...",(718) 507-0839,drive_through
115193,4VEgZ7aVUt6oKw8KmXj-jQ,Brooklyn Kolache,https://www.yelp.com/biz/brooklyn-kolache-broo...,348,4.5,"{'latitude': 40.6907913077698, 'longitude': -7...",$,"{'address1': '520 Dekalb Ave', 'address2': '',...",(718) 398-1111,drive_through

In [19]:
def printinfo():
    temp = pd.DataFrame(index=DT_df.columns)
    temp['data_type'] = DT_df.dtypes
    temp['null_count'] = DT_df.isnull().sum()
    temp['unique_count'] = DT_df.nunique()
    return temp

printinfo()

              data_type  null_count  unique_count
id               object           0        115133
name             object           0         43907
url              object           0        115157
review_count      int64           0          2555
rating          float64           0            10
coordinates      object           0        114950
price            object       12311             5
location         object           0        114642
display_phone    object        2221        110859
drive_through    object           0             1

## 数据清洗

In [20]:
#合并DT和OD数据
df = CP_df.merge(OD_df,on=['coordinates','id'],how = 'outer')

#遍历补空
df['name_x'].fillna(df['name_y'], inplace = True)
df['url_x'].fillna(df['url_y'], inplace = True)
df['review_count_x'].fillna(df['review_count_y'], inplace = True)
df['rating_x'].fillna(df['rating_y'], inplace = True)
df['price_x'].fillna(df['price_y'], inplace = True)
df['url_x'].fillna(df['url_y'], inplace = True)
df['display_phone_x'].fillna(df['display_phone_y'], inplace = True)
df['location_x'].fillna(df['location_y'], inplace = True)

#删除重复列
df = df.drop(columns=['name_y', 'url_y','review_count_y','rating_y','price_y','url_y','display_phone_y','location_y'])

#传入字段修改列名
df = df.rename(columns = lambda x : x.replace("_x",""))  #传入字段修改
df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,curbside_pickup,outdoor_dining
0,HeecV0ib-LzDpRqGFDp_AA,Hunny's Cafe,https://www.yelp.com/biz/hunnys-cafe-corona?ad...,177.0,3.5,"{'latitude': 33.79879, 'longitude': -117.50153}",$$,"{'address1': '9022 Pulsar Ct', 'address2': '',...",(951) 277-5811,curbside_pickup,NaN
1,4yN7zhI2zyblcflkM3a55A,WaBa Grill,https://www.yelp.com/biz/waba-grill-ontario-5?...,75.0,2.0,"{'latitude': 34.027, 'longitude': -117.5938}",$,"{'address1': '2598 S Archibald Ave', 'address2...",(909) 947-7057,curbside_pickup,NaN
2,Vj8-3j0IKSJNkS5zMcC4Qg,McDonald's,https://www.yelp.com/biz/mcdonalds-chino-2?adj...,269.0,1.5,"{'latitude': 34.0010559748959, 'longitude': -1...",$,"{'address1': '3770 Grand Ave', 'address2': '',...",(909) 590-0557,curbside_pickup,NaN
3,E0NKr-TOJskm0Ml1_MI4Xw,Zait Bistro,https://www.yelp.com/biz/zait-bistro-rancho-cu...,817.0,4.0,"{'latitude': 34.122156, 'longitude': -117.573391}",$$,"{'address1': '7251 Haven Ave', 'address2': 'St...",(909) 989-0678,curbside_pickup,outdoor_dining
4,wUamEyNCZ3lF-QLF7uSkog,Morton's The Steakhouse,https://www.yelp.com/biz/mortons-the-steakhous...,1240.0,4.0,"{'latitude': 33.8000325216287, 'longitude': -1...",$$$,"{'address1': '1895 Harbor Blvd', 'address2': '...",(714) 621-0101,curbside_pickup,outdoor_dining
...,...,...,...,...,...,...,...,...,...,...,...
97062,bKXnm2k44mSdU0fP69lY-g,Szechuan Mountain House,https://www.yelp.com/biz/szechuan-mountain-hou...,407.0,4.0,"{'latitude': 40.7593930266428, 'longitude': -7...",$$,"{'address1': '39-16 Prince St', 'address2': 'S...",(718) 888-7893,NaN,outdoor_dining
97063,oMtJwDxuuxZPvGMgHOoAbQ,Reception Bar,https://www.yelp.com/biz/reception-bar-new-yor...,80.0,4.5,"{'latitude': 40.7163598, 'longitude': -73.9913...",NaN,"{'address1': '45 Orchard St', 'address2': None...",(646) 490-4053,NaN,outdoor_dining
97064,lOSerKI9Xh4tR5I4YUw9kw,Saint Julivert,https://www.yelp.com/biz/saint-julivert-brookl...,41.0,4.5,"{'latitude': 40.68787, 'longitude': -73.99565}",NaN,"{'address1': '264 Clinton St', 'address2': Non...",(347) 987-3710,NaN,outdoor_dining
97065,x_YWFkTcxEu1lo8Nlrog5A,Milk & Honey Cafe,https://www.yelp.com/biz/milk-and-honey-cafe-b...,1202.0,4.0,"{'latitude': 40.634356735221, 'longitude': -73...",$$,"{'address1': '1119 Newkirk Ave', 'address2': '...",(718) 513-0441,NaN,outdoor_dining
97066,1LIptXhtDh58vAA-QPFL4w,Cask,https://www.yelp.com/biz/cask-new-york-2?adjus...,1402.0,4.0,"{'latitude': 40.745414, 'longitude': -73.979004}",$$,"{'address1': '167 E 33rd St', 'address2': '', ...",(212) 300-4924,NaN,outdoor_dining

In [21]:
def printinfo():
    temp = pd.DataFrame(index=df.columns)
    temp['data_type'] = df.dtypes
    temp['null_count'] = df.isnull().sum()
    temp['unique_count'] = df.nunique()
    return temp

printinfo()

                data_type  null_count  unique_count
id                 object           0         96932
name               object           0         63938
url                object           0         97054
review_count      float64           0          2723
rating            float64           0             9
coordinates        object           0         96626
price              object       12367             5
location           object           0         96225
display_phone      object        1324         94756
curbside_pickup    object       53844             1
outdoor_dining     object       32108             1

### 1. 经纬度

In [22]:
#提取门店经纬度
temp_dict = []
for row in np.arange(0,df.shape[0],1):
    append_dict = ast.literal_eval(df['coordinates'][row])
    temp_dict.append(append_dict)

converted_location_dict = pd.DataFrame(temp_dict)
converted_location_dict['lat_long']= converted_location_dict['latitude'].apply(str) + ',' + converted_location_dict['longitude'].apply(str)

In [23]:
df['latitude'] = converted_location_dict['latitude']
df['longitude'] = converted_location_dict['longitude']
df['coordinates'] = converted_location_dict['lat_long']

df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,curbside_pickup,outdoor_dining,latitude,longitude
0,HeecV0ib-LzDpRqGFDp_AA,Hunny's Cafe,https://www.yelp.com/biz/hunnys-cafe-corona?ad...,177.0,3.5,"33.79879,-117.50153",$$,"{'address1': '9022 Pulsar Ct', 'address2': '',...",(951) 277-5811,curbside_pickup,NaN,33.798790,-117.501530
1,4yN7zhI2zyblcflkM3a55A,WaBa Grill,https://www.yelp.com/biz/waba-grill-ontario-5?...,75.0,2.0,"34.027,-117.5938",$,"{'address1': '2598 S Archibald Ave', 'address2...",(909) 947-7057,curbside_pickup,NaN,34.027000,-117.593800
2,Vj8-3j0IKSJNkS5zMcC4Qg,McDonald's,https://www.yelp.com/biz/mcdonalds-chino-2?adj...,269.0,1.5,"34.0010559748959,-117.722312",$,"{'address1': '3770 Grand Ave', 'address2': '',...",(909) 590-0557,curbside_pickup,NaN,34.001056,-117.722312
3,E0NKr-TOJskm0Ml1_MI4Xw,Zait Bistro,https://www.yelp.com/biz/zait-bistro-rancho-cu...,817.0,4.0,"34.122156,-117.573391",$$,"{'address1': '7251 Haven Ave', 'address2': 'St...",(909) 989-0678,curbside_pickup,outdoor_dining,34.122156,-117.573391
4,wUamEyNCZ3lF-QLF7uSkog,Morton's The Steakhouse,https://www.yelp.com/biz/mortons-the-steakhous...,1240.0,4.0,"33.8000325216287,-117.915830783895",$$$,"{'address1': '1895 Harbor Blvd', 'address2': '...",(714) 621-0101,curbside_pickup,outdoor_dining,33.800033,-117.915831
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97062,bKXnm2k44mSdU0fP69lY-g,Szechuan Mountain House,https://www.yelp.com/biz/szechuan-mountain-hou...,407.0,4.0,"40.7593930266428,-73.8326038269836",$$,"{'address1': '39-16 Prince St', 'address2': 'S...",(718) 888-7893,NaN,outdoor_dining,40.759393,-73.832604
97063,oMtJwDxuuxZPvGMgHOoAbQ,Reception Bar,https://www.yelp.com/biz/reception-bar-new-yor...,80.0,4.5,"40.7163598,-73.9913564",NaN,"{'address1': '45 Orchard St', 'address2': None...",(646) 490-4053,NaN,outdoor_dining,40.716360,-73.991356
97064,lOSerKI9Xh4tR5I4YUw9kw,Saint Julivert,https://www.yelp.com/biz/saint-julivert-brookl...,41.0,4.5,"40.68787,-73.99565",NaN,"{'address1': '264 Clinton St', 'address2': Non...",(347) 987-3710,NaN,outdoor_dining,40.687870,-73.995650
97065,x_YWFkTcxEu1lo8Nlrog5A,Milk & Honey Cafe,https://www.yelp.com/biz/milk-and-honey-cafe-b...,1202.0,4.0,"40.634356735221,-73.9661046515558",$$,"{'address1': '1119 Newkirk Ave', 'address2': '...",(718) 513-0441,NaN,outdoor_dining,40.634357,-73.966105
97066,1LIptXhtDh58vAA-QPFL4w,Cask,https://www.yelp.com/biz/cask-new-york-2?adjus...,1402.0,4.0,"40.745414,-73.979004",$$,"{'address1': '167 E 33rd St', 'address2': '', ...",(212) 300-4924,NaN,outdoor_dining,40.745414,-73.979004


### 2. 城市

In [24]:
#提取地址中的城市名和州名
temp_dict = []
for row in range(len(df['location'])):
    append_dict = ast.literal_eval(df['location'][row])
    temp_dict.append(append_dict)

located_city_dict = pd.DataFrame(temp_dict)
located_city_dict_shaped = located_city_dict['city'].replace('New York City','New York')
located_city_dict_shaped = located_city_dict['city'].replace('Winston-salem','Winston-Salem')
located_city_dict_shaped = located_city_dict['city'].replace('Winston Salem','Winston-Salem')
located_city_dict_shaped = located_city_dict['city'].replace('Wilkes-barre','Wilkes-Barre')
located_city_dict_shaped = located_city_dict['city'].replace('Wilkes Barre','Wilkes-Barre')
located_city_dict['city'] = located_city_dict_shaped
located_city_dict['citi_state']= located_city_dict['city'].apply(str) + ',' + located_city_dict['state'].apply(str)

In [25]:
df['city'] = located_city_dict['city']
df['state'] = located_city_dict['state']
#df['citi_state'] = located_city_dict['citi_state']

df

,id,name,url,review_count,rating,coordinates,price,location,display_phone,curbside_pickup,outdoor_dining,latitude,longitude,city,state
0,HeecV0ib-LzDpRqGFDp_AA,Hunny's Cafe,https://www.yelp.com/biz/hunnys-cafe-corona?ad...,177.0,3.5,"33.79879,-117.50153",$$,"{'address1': '9022 Pulsar Ct', 'address2': '',...",(951) 277-5811,curbside_pickup,NaN,33.798790,-117.501530,Corona,CA
1,4yN7zhI2zyblcflkM3a55A,WaBa Grill,https://www.yelp.com/biz/waba-grill-ontario-5?...,75.0,2.0,"34.027,-117.5938",$,"{'address1': '2598 S Archibald Ave', 'address2...",(909) 947-7057,curbside_pickup,NaN,34.027000,-117.593800,Ontario,CA
2,Vj8-3j0IKSJNkS5zMcC4Qg,McDonald's,https://www.yelp.com/biz/mcdonalds-chino-2?adj...,269.0,1.5,"34.0010559748959,-117.722312",$,"{'address1': '3770 Grand Ave', 'address2': '',...",(909) 590-0557,curbside_pickup,NaN,34.001056,-117.722312,Chino,CA
3,E0NKr-TOJskm0Ml1_MI4Xw,Zait Bistro,https://www.yelp.com/biz/zait-bistro-rancho-cu...,817.0,4.0,"34.122156,-117.573391",$$,"{'address1': '7251 Haven Ave', 'address2': 'St...",(909) 989-0678,curbside_pickup,outdoor_dining,34.122156,-117.573391,Rancho Cucamonga,CA
4,wUamEyNCZ3lF-QLF7uSkog,Morton's The Steakhouse,https://www.yelp.com/biz/mortons-the-steakhous...,1240.0,4.0,"33.8000325216287,-117.915830783895",$$$,"{'address1': '1895 Harbor Blvd', 'address2': '...",(714) 621-0101,curbside_pickup,outdoor_dining,33.800033,-117.915831,Anaheim,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97062,bKXnm2k44mSdU0fP69lY-g,Szechuan Mountain House,https://www.yelp.com/biz/szechuan-mountain-hou...,407.0,4.0,"40.7593930266428,-73.8326038269836",$$,"{'address1': '39-16 Prince St', 'address2': 'S...",(718) 888-7893,NaN,outdoor_dining,40.759393,-73.832604,Flushing,NY
97063,oMtJwDxuuxZPvGMgHOoAbQ,Reception Bar,https://www.yelp.com/biz/reception-bar-new-yor...,80.0,4.5,"40.7163598,-73.9913564",NaN,"{'address1': '45 Orchard St', 'address2': None...",(646) 490-4053,NaN,outdoor_dining,40.716360,-73.991356,New York,NY
97064,lOSerKI9Xh4tR5I4YUw9kw,Saint Julivert,https://www.yelp.com/biz/saint-julivert-brookl...,41.0,4.5,"40.68787,-73.99565",NaN,"{'address1': '264 Clinton St', 'address2': Non...",(347) 987-3710,NaN,outdoor_dining,40.687870,-73.995650,Brooklyn,NY
97065,x_YWFkTcxEu1lo8Nlrog5A,Milk & Honey Cafe,https://www.yelp.com/biz/milk-and-honey-cafe-b...,1202.0,4.0,"40.634356735221,-73.9661046515558",$$,"{'address1': '1119 Newkirk Ave', 'address2': '...",(718) 513-0441,NaN,outdoor_dining,40.634357,-73.966105,Brooklyn,NY
97066,1LIptXhtDh58vAA-QPFL4w,Cask,https://www.yelp.com/biz/cask-new-york-2?adjus...,1402.0,4.0,"40.745414,-73.979004",$$,"{'address1': '167 E 33rd St', 'address2': '', ...",(212) 300-4924,NaN,outdoor_dining,40.745414,-73.979004,New York,NY

### 4. 最终数据

In [26]:
#删除无效列与行，重新设定索引
shaped_df = df.copy().sort_values(by=['city'])
shaped_df = shaped_df.iloc[1:,:]
shaped_df = shaped_df.dropna(subset=['longitude', 'latitude'])

shaped_df = shaped_df.reset_index()
shaped_df = shaped_df.drop(columns=['index'])

shaped_df
#2b51wGTm_a8yhknEmBpZ4Q DESI FUSION

,id,name,url,review_count,rating,coordinates,price,location,display_phone,curbside_pickup,outdoor_dining,latitude,longitude,city,state
0,_njeaLgMzbaVT5VGUb_YTg,40 North,https://www.yelp.com/biz/40-north-austin?adjus...,260.0,4.5,"30.2749757,-97.7517051",$$,"{'address1': '900 W 10th St', 'address2': None...",(512) 660-5779,curbside_pickup,NaN,30.274976,-97.751705,AUSTIN,TX
1,HrlO_Hnmddw3DnVHHEyAnw,Sophia's Kitchen,https://www.yelp.com/biz/sophias-kitchen-az?ad...,431.0,4.5,"33.641432,-111.861684",$$,"{'address1': '17050 N Thompson Peak Pkwy', 'ad...",(480) 351-7160,NaN,outdoor_dining,33.641432,-111.861684,AZ,AZ
2,TrtFUf8p_dHSXsEIcK2CLQ,Denino's Pizza Place,https://www.yelp.com/biz/deninos-pizza-place-a...,279.0,4.0,"40.40006880066853,-74.22720613163922",$$,"{'address1': '1077 F Hwy 34', 'address2': '', ...",(732) 583-2150,NaN,outdoor_dining,40.400069,-74.227206,Aberdeen,NJ
3,UYuWVp7tfj-eBbdji3AKgQ,The Mosa Social,https://www.yelp.com/biz/the-mosa-social-aberd...,29.0,4.5,"40.39371,-74.223616",NaN,"{'address1': '1178 NJ-34', 'address2': None, '...",(732) 583-3565,NaN,outdoor_dining,40.393710,-74.223616,Aberdeen Township,NJ
4,z8pjbPvsPMQYk4QkjsPNsg,Armando's Mexican Food,https://www.yelp.com/biz/armandos-mexican-food...,74.0,4.0,"32.44990535326,-99.7533917427063",$,"{'address1': '2549 S 1st St', 'address2': '', ...",(325) 670-0977,NaN,outdoor_dining,32.449905,-99.753392,Abilene,TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97061,FcHFGi0cZLzeH2u7kNGJcg,Fin & Fork,https://www.yelp.com/biz/fin-and-fork-pensacol...,789.0,3.0,"30.417205,-87.202255",$$,"{'address1': '601 E Gregory St', 'address2': '...",(850) 786-3675,NaN,outdoor_dining,30.417205,-87.202255,pensacola,FL
97062,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,https://www.yelp.com/biz/green-eggs-cafe-phila...,144.0,4.0,"39.95224,-75.169541",$$,"{'address1': '33 S 18th St', 'address2': None,...",(267) 687-8013,NaN,outdoor_dining,39.952240,-75.169541,philadelphia,PA
97063,eprl1Skqygdl-iqWdrYGig,The Hidd'n Valley Restaurant,https://www.yelp.com/biz/the-hiddn-valley-rest...,2.0,5.0,"40.2962573,-77.8745562",$,"{'address1': '17060 Croghan Pike', 'address2':...",(814) 447-3244,NaN,outdoor_dining,40.296257,-77.874556,shirleysburg,PA
97064,lLeL7eqGWMzNCs7-380puA,Serra Restaurant,https://www.yelp.com/biz/serra-restaurant-summ...,31.0,4.0,"40.71751,-74.35667",NaN,"{'address1': '10 Bank St', 'address2': None, '...",(908) 273-1713,curbside_pickup,NaN,40.717510,-74.356670,summit,NJ
97065,eJab5373h0eZiOYnMPG4dg,Flavors of India,https://www.yelp.com/biz/flavors-of-india-gilb...,441.0,4.0,"33.33504439999997,-111.77163996135755",$$,"{'address1': '857 E Warner Rd', 'address2': 'S...",(602) 277-5546,NaN,outdoor_dining,33.335044,-111.771640,​Gilbert,AZ

In [27]:
#查看现有数据内品牌数量排序
shaped_df['name'].value_counts()

Pizza Hut                          3219
Chick-fil-A                        1848
McDonald's                         1693
Panera Bread                        922
Chili's                             682
                                   ...
The Energy Spot                       1
Bar Louie - Greenwood Park Mall       1
Sassafras Tea Room                    1
The Suds Drive In                     1
Serra Restaurant                      1
Name: name, Length: 63938, dtype: int64

In [28]:
#将品牌名大小写统一
temp_dict = []
for row in range(len(shaped_df['name'])):
    append_dict = shaped_df['name'][row].title()
    temp_dict.append(append_dict)
cap_name_dict = pd.DataFrame(temp_dict)
shaped_df['cap_name'] = cap_name_dict

#调整列位置
shaped_df.insert(1, 'cap_name', shaped_df.pop('cap_name'))
shaped_df.insert(3, 'city', shaped_df.pop('city'))
shaped_df.insert(4, 'state', shaped_df.pop('state'))

shaped_df.insert(15, 'display_phone', shaped_df.pop('display_phone'))
shaped_df.insert(14, 'url', shaped_df.pop('url'))
shaped_df.insert(13, 'coordinates', shaped_df.pop('coordinates'))
shaped_df.insert(12, 'longitude', shaped_df.pop('longitude'))
shaped_df.insert(11, 'latitude', shaped_df.pop('latitude'))

shaped_df = shaped_df.drop(columns=['name'])
shaped_df

,id,cap_name,city,state,review_count,rating,price,location,curbside_pickup,outdoor_dining,latitude,longitude,coordinates,url,display_phone
0,_njeaLgMzbaVT5VGUb_YTg,40 North,AUSTIN,TX,260.0,4.5,$$,"{'address1': '900 W 10th St', 'address2': None...",curbside_pickup,NaN,30.274976,-97.751705,"30.2749757,-97.7517051",https://www.yelp.com/biz/40-north-austin?adjus...,(512) 660-5779
1,HrlO_Hnmddw3DnVHHEyAnw,Sophia'S Kitchen,AZ,AZ,431.0,4.5,$$,"{'address1': '17050 N Thompson Peak Pkwy', 'ad...",NaN,outdoor_dining,33.641432,-111.861684,"33.641432,-111.861684",https://www.yelp.com/biz/sophias-kitchen-az?ad...,(480) 351-7160
2,TrtFUf8p_dHSXsEIcK2CLQ,Denino'S Pizza Place,Aberdeen,NJ,279.0,4.0,$$,"{'address1': '1077 F Hwy 34', 'address2': '', ...",NaN,outdoor_dining,40.400069,-74.227206,"40.40006880066853,-74.22720613163922",https://www.yelp.com/biz/deninos-pizza-place-a...,(732) 583-2150
3,UYuWVp7tfj-eBbdji3AKgQ,The Mosa Social,Aberdeen Township,NJ,29.0,4.5,NaN,"{'address1': '1178 NJ-34', 'address2': None, '...",NaN,outdoor_dining,40.393710,-74.223616,"40.39371,-74.223616",https://www.yelp.com/biz/the-mosa-social-aberd...,(732) 583-3565
4,z8pjbPvsPMQYk4QkjsPNsg,Armando'S Mexican Food,Abilene,TX,74.0,4.0,$,"{'address1': '2549 S 1st St', 'address2': '', ...",NaN,outdoor_dining,32.449905,-99.753392,"32.44990535326,-99.7533917427063",https://www.yelp.com/biz/armandos-mexican-food...,(325) 670-0977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97061,FcHFGi0cZLzeH2u7kNGJcg,Fin & Fork,pensacola,FL,789.0,3.0,$$,"{'address1': '601 E Gregory St', 'address2': '...",NaN,outdoor_dining,30.417205,-87.202255,"30.417205,-87.202255",https://www.yelp.com/biz/fin-and-fork-pensacol...,(850) 786-3675
97062,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,philadelphia,PA,144.0,4.0,$$,"{'address1': '33 S 18th St', 'address2': None,...",NaN,outdoor_dining,39.952240,-75.169541,"39.95224,-75.169541",https://www.yelp.com/biz/green-eggs-cafe-phila...,(267) 687-8013
97063,eprl1Skqygdl-iqWdrYGig,The Hidd'N Valley Restaurant,shirleysburg,PA,2.0,5.0,$,"{'address1': '17060 Croghan Pike', 'address2':...",NaN,outdoor_dining,40.296257,-77.874556,"40.2962573,-77.8745562",https://www.yelp.com/biz/the-hiddn-valley-rest...,(814) 447-3244
97064,lLeL7eqGWMzNCs7-380puA,Serra Restaurant,summit,NJ,31.0,4.0,NaN,"{'address1': '10 Bank St', 'address2': None, '...",curbside_pickup,NaN,40.717510,-74.356670,"40.71751,-74.35667",https://www.yelp.com/biz/serra-restaurant-summ...,(908) 273-1713
97065,eJab5373h0eZiOYnMPG4dg,Flavors Of India,​Gilbert,AZ,441.0,4.0,$$,"{'address1': '857 E Warner Rd', 'address2': 'S...",NaN,outdoor_dining,33.335044,-111.771640,"33.33504439999997,-111.77163996135755",https://www.yelp.com/biz/flavors-of-india-gilb...,(602) 277-5546

In [29]:
#通过统一大小写休整数据并查看休整后的品牌分布
shaped_df['cap_name'].value_counts()

Pizza Hut           3219
Chick-Fil-A         1852
Mcdonald'S          1693
Panera Bread         922
Chili'S              682
                    ...
Vino Villa             1
Box Burger             1
Revery                 1
Chicago Pizza          1
Serra Restaurant       1
Name: cap_name, Length: 63725, dtype: int64

In [31]:
#去除品牌名中的地点标签
name_split = shaped_df['cap_name'].str.split(' - ',expand = True)
shaped_df['brand'] = name_split[0]
shaped_df.insert(1, 'brand', shaped_df.pop('brand'))
shaped_df.insert(15, 'cap_name', shaped_df.pop('cap_name'))

shaped_df

,id,brand,city,state,review_count,rating,price,location,curbside_pickup,outdoor_dining,latitude,longitude,coordinates,url,display_phone,cap_name
0,_njeaLgMzbaVT5VGUb_YTg,40 North,AUSTIN,TX,260.0,4.5,$$,"{'address1': '900 W 10th St', 'address2': None...",curbside_pickup,NaN,30.274976,-97.751705,"30.2749757,-97.7517051",https://www.yelp.com/biz/40-north-austin?adjus...,(512) 660-5779,40 North
1,HrlO_Hnmddw3DnVHHEyAnw,Sophia'S Kitchen,AZ,AZ,431.0,4.5,$$,"{'address1': '17050 N Thompson Peak Pkwy', 'ad...",NaN,outdoor_dining,33.641432,-111.861684,"33.641432,-111.861684",https://www.yelp.com/biz/sophias-kitchen-az?ad...,(480) 351-7160,Sophia'S Kitchen
2,TrtFUf8p_dHSXsEIcK2CLQ,Denino'S Pizza Place,Aberdeen,NJ,279.0,4.0,$$,"{'address1': '1077 F Hwy 34', 'address2': '', ...",NaN,outdoor_dining,40.400069,-74.227206,"40.40006880066853,-74.22720613163922",https://www.yelp.com/biz/deninos-pizza-place-a...,(732) 583-2150,Denino'S Pizza Place
3,UYuWVp7tfj-eBbdji3AKgQ,The Mosa Social,Aberdeen Township,NJ,29.0,4.5,NaN,"{'address1': '1178 NJ-34', 'address2': None, '...",NaN,outdoor_dining,40.393710,-74.223616,"40.39371,-74.223616",https://www.yelp.com/biz/the-mosa-social-aberd...,(732) 583-3565,The Mosa Social
4,z8pjbPvsPMQYk4QkjsPNsg,Armando'S Mexican Food,Abilene,TX,74.0,4.0,$,"{'address1': '2549 S 1st St', 'address2': '', ...",NaN,outdoor_dining,32.449905,-99.753392,"32.44990535326,-99.7533917427063",https://www.yelp.com/biz/armandos-mexican-food...,(325) 670-0977,Armando'S Mexican Food
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97061,FcHFGi0cZLzeH2u7kNGJcg,Fin & Fork,pensacola,FL,789.0,3.0,$$,"{'address1': '601 E Gregory St', 'address2': '...",NaN,outdoor_dining,30.417205,-87.202255,"30.417205,-87.202255",https://www.yelp.com/biz/fin-and-fork-pensacol...,(850) 786-3675,Fin & Fork
97062,2gFPQCmKKVi1aHgGTLRZvA,Green Eggs Cafe,philadelphia,PA,144.0,4.0,$$,"{'address1': '33 S 18th St', 'address2': None,...",NaN,outdoor_dining,39.952240,-75.169541,"39.95224,-75.169541",https://www.yelp.com/biz/green-eggs-cafe-phila...,(267) 687-8013,Green Eggs Cafe
97063,eprl1Skqygdl-iqWdrYGig,The Hidd'N Valley Restaurant,shirleysburg,PA,2.0,5.0,$,"{'address1': '17060 Croghan Pike', 'address2':...",NaN,outdoor_dining,40.296257,-77.874556,"40.2962573,-77.8745562",https://www.yelp.com/biz/the-hiddn-valley-rest...,(814) 447-3244,The Hidd'N Valley Restaurant
97064,lLeL7eqGWMzNCs7-380puA,Serra Restaurant,summit,NJ,31.0,4.0,NaN,"{'address1': '10 Bank St', 'address2': None, '...",curbside_pickup,NaN,40.717510,-74.356670,"40.71751,-74.35667",https://www.yelp.com/biz/serra-restaurant-summ...,(908) 273-1713,Serra Restaurant
97065,eJab5373h0eZiOYnMPG4dg,Flavors Of India,​Gilbert,AZ,441.0,4.0,$$,"{'address1': '857 E Warner Rd', 'address2': 'S...",NaN,outdoor_dining,33.335044,-111.771640,"33.33504439999997,-111.77163996135755",https://www.yelp.com/biz/flavors-of-india-gilb...,(602) 277-5546,Flavors Of India

In [46]:
#去除经纬度定位在美国以外的门店
shaped_df = shaped_df.sort_values(by=['longitude'], ascending= False)
shaped_df = shaped_df.iloc[2:,:]

#重设索引
shaped_df = shaped_df.sort_values(by=['review_count'], ascending= False)
shaped_df = shaped_df.reset_index()
shaped_df = shaped_df.drop(columns=['index'])

In [47]:
shaped_df

,id,brand,city,state,review_count,rating,price,location,curbside_pickup,outdoor_dining,latitude,longitude,coordinates,url,display_phone,cap_name
0,TkFEKhsCixPWlShULKvMdQ,Bottega Louie,Los Angeles,CA,17144.0,4.0,$$,"{'address1': '700 S Grand Ave', 'address2': No...",curbside_pickup,NaN,34.047056,-118.256544,"34.047056,-118.256544",https://www.yelp.com/biz/bottega-louie-los-ang...,(213) 802-1470,Bottega Louie
1,eGhOLzFFIhrvF6QjSSpJsg,Phil'S Bbq,San Diego,CA,14891.0,4.5,$$,"{'address1': '3750 Sports Arena Blvd', 'addres...",curbside_pickup,outdoor_dining,32.754779,-117.215988,"32.7547792020658,-117.21598848605",https://www.yelp.com/biz/phils-bbq-san-diego-2...,(619) 226-6333,Phil'S Bbq
2,VA8aPObRynlwR1TGzbzraQ,Founding Farmers,"Washington, DC",DC,14666.0,4.0,$$,"{'address1': '1924 Pennsylvania Ave NW', 'addr...",curbside_pickup,outdoor_dining,38.900397,-77.044660,"38.90039726470812,-77.04465954281389",https://www.yelp.com/biz/founding-farmers-wash...,(202) 822-8783,Founding Farmers - Washington
3,lJAGnYzku5zSaLnQ_T6_GQ,Brenda'S French Soul Food,San Francisco,CA,11468.0,4.0,$$,"{'address1': '652 Polk St', 'address2': '', 'a...",NaN,outdoor_dining,37.782902,-122.419043,"37.7829016035273,-122.419043442957",https://www.yelp.com/biz/brendas-french-soul-f...,(415) 345-8100,Brenda'S French Soul Food
4,o3edBEVjRcYJnQWrSFd9Bg,Marugame Udon,Honolulu,HI,11077.0,4.5,$,"{'address1': '2310 Kuhio Ave', 'address2': 'St...",curbside_pickup,NaN,21.279607,-157.825833,"21.2796073993372,-157.82583338341013",https://www.yelp.com/biz/marugame-udon-waikiki...,NaN,Marugame Udon - Waikiki
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97055,RprYwC4qzv3GncHdJPHq6A,Pizza Hut,Springfield,MO,1.0,1.0,NaN,"{'address1': '1440 E Kearney St', 'address2': ...",curbside_pickup,NaN,37.239664,-93.268612,"37.2396643,-93.2686124",https://www.yelp.com/biz/pizza-hut-springfield...,(417) 869-0234,Pizza Hut
97056,vrAAU6QJLnZsAadZlFpiCg,Cuco Lindo,Houston,TX,1.0,5.0,NaN,"{'address1': '7433 Canal St', 'address2': None...",NaN,outdoor_dining,29.737096,-95.291260,"29.73709614649594,-95.29125967295404",https://www.yelp.com/biz/cuco-lindo-houston-3?...,(713) 921-2176,Cuco Lindo
97057,lM9tcHuT54QjotRXbt12kA,St Marys Seafood & More Express,Jacksonville,FL,1.0,3.0,NaN,"{'address1': '2116 Talleyrand Ave', 'address2'...",NaN,outdoor_dining,30.350468,-81.626297,"30.350468,-81.626297",https://www.yelp.com/biz/st-marys-seafood-and-...,(904) 379-2065,St Marys Seafood & More Express
97058,OqYH4qLR0StHrxnOSyFHcQ,Giuseppis,Tijuana,BCN,1.0,5.0,$$,"{'address1': 'Blvd. Lázaro Cárdenas 17102', 'a...",NaN,outdoor_dining,32.531396,-116.948135,"32.5313958224379,-116.948134715719",https://www.yelp.com/biz/giuseppis-tijuana-6?a...,+52 664 623 1962,Giuseppis
97059,7-GQjYBd8Qeyy9q-4eK10Q,Escape Restaurant And Lounge,Lauderhill,FL,1.0,4.0,$$,"{'address1': '1451 NW 31st Ave', 'address2': N...",NaN,outdoor_dining,26.144220,-80.187286,"26.14422,-80.187286",https://www.yelp.com/biz/escape-restaurant-and...,(954) 451-3421,Escape Restaurant And Lounge

In [48]:
#去除店名标签后的品牌分布
shaped_df['brand'].value_counts()

Pizza Hut                       3218
Chick-Fil-A                     1854
Mcdonald'S                      1694
Panera Bread                     922
Chili'S                          684
                                ...
City Pizza Italian Cuisine         1
Sazza Pizza + Salads               1
Mega Hot Chicken                   1
Ranch Side Cafe                    1
Escape Restaurant And Lounge       1
Name: brand, Length: 61162, dtype: int64

In [49]:
def printinfo():
    temp = pd.DataFrame(index=shaped_df.columns)
    temp['data_type'] = shaped_df.dtypes
    temp['null_count'] = shaped_df.isnull().sum()
    temp['unique_count'] = shaped_df.nunique()
    return temp

printinfo()

                data_type  null_count  unique_count
id                 object           0         96925
brand              object           0         61162
city               object           0          4857
state              object           0            55
review_count      float64           0          2723
rating            float64           0             9
price              object       12366             4
location           object           0         96218
curbside_pickup    object       53840             1
outdoor_dining     object       32105             1
latitude          float64           0         96063
longitude         float64           0         96130
coordinates        object           0         96619
url                object           0         97047
display_phone      object        1323         94750
cap_name           object           0         63720

In [50]:
shaped_df.to_csv('E:\Report\战略\半室外需求验证\data_0507.csv')